.posts {
  grid-column: col-start 1 / col-end 5;

  @include respond(tab-port) {
    grid-column: col-start 1 / col-end 8;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    line-height: 1;

    & > button {
      transform: translateY(0.4rem);
    }
  }
}
