:root {
  // COLORS
  --color-white: #fff;
  --color-black: #222;
  --color-gray: #ededed;
  --color-gray-dark: #bbb;

  --color-primary: #0798ff;
  --color-primary-dark: #0798ffa2;

  // FONTS
  --font-family-primary: 'Roboto', sans-serif;
  --font-base: 1.6rem;

  // TYPOGRAPHY
  --heading-three: 2.4rem;
  --text-detail: 1.2rem;

  // OTHER
  --page-width: 144rem;
  --inner-shadow: inset 0 0 1rem rgba(2, 2, 2, 0.14);
}
