:root {
  // COLORS
  --color-white: #fff;
  --color-black: #222;
  --color-black-dimmed: rgba(2, 2, 2, 0.4);
  --color-gray: #ededed;
  --color-gray-dark: #bbb;

  --color-primary: #0798ff;
  --color-primary-dark: #0798ffa2;
  --color-error: #d73a49;
  --color-success: #7fff07;

  // FONTS
  --font-family-primary: 'Roboto', sans-serif;
  --font-base: 1.6rem;

  // TYPOGRAPHY
  --heading-one: 6rem;
  --heading-two: 3.2rem;
  --heading-three: 2.4rem;
  --text-detail: 1.2rem;

  // MISC
  --page-width: 144rem;
  --inner-shadow: inset 0 0 1rem rgba(2, 2, 2, 0.14);
  --border-radius-min: 0.6rem;
  --border-radius-max: 100rem;
}

#dark-mode {
  --color-white: #262626;
  --color-black: #fff;
  --color-black-dimmed: rgba(255, 255, 255, 0.4);
  --color-gray: #333;
  --color-gray-dark: #333;

  --color-primary: #0798ff;
  --color-primary-dark: #0798ffa2;
}
