@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond(tab-port) {
    font-size: 50%;
  }
}

body {
  font-family: var(--font-family-primary);
  color: var(--color-black);
  background-color: var(--color-white);
  font-size: var(--font-base);
  line-height: 1.58;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

input,
textarea,
button {
  font-family: var(--font-family-primary);
  font-size: var(--font-base);
}

textarea {
  resize: vertical;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1 {
  font-size: var(--heading-one);
  font-weight: 900;
}

h2 {
  font-size: var(--heading-two);
  font-weight: 900;
}

h3 {
  font-size: var(--heading-three);
  font-weight: 700;
}

p + p {
  margin-top: 2rem;
}

img {
  display: block;
}

// REUSABLE

.hidden {
  display: none;
}

.is-active {
  font-weight: bold;
}

.bold {
  font-weight: 700;
}

.bolder {
  font-weight: 900;
}

.link {
  text-decoration: underline;
  transition: color 0.2s cubic-bezier(0.65, 0, 0.35, 1);

  &:hover {
    color: var(--color-primary);
  }
}

.bg-error {
  background-color: var(--color-error) !important;
}

.bg-success {
  background-color: var(--color-success) !important;
}

// GRID

#app {
  display: grid;
  grid-template-rows: [header] 8rem [main] 1fr [footer] min-content;
  gap: 6rem 0;
  min-height: 100vh;
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 2rem;
}

.container {
  display: grid;
}

.home {
  grid-row: main;
  gap: 0 6rem;
  grid-template-columns: repeat(
    8,
    [col-start] minmax(min-content, 1fr) [col-end]
  );
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.manage > .form:not(:first-child) {
  margin-top: 2rem;
}
